@import url("https://fonts.cdnfonts.com/css/nautilus-pompilius");

.newletter-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/funfood/newsletter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.newletter h1 {
  font-family: "Nautilus Pompilius", sans-serif;
}
