@import url("https://fonts.cdnfonts.com/css/nautilus-pompilius");

.blog h1 {
  font-family: "Nautilus Pompilius", sans-serif;
  letter-spacing: 1px;
}

.blog-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/funfood/blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.blog-box {
  transition: transform 0.3s ease;
}

.blog-box:hover {
  transform: translateY(-5px);
}

/* Responsive adjustments */
@media (max-width: 1077px) {
  .blog-box-container {
    max-width: 800px;
  }

  .blog-box {
    flex-direction: column;
  }

  .blog-img,
  .blog-content {
    width: 100% !important;
  }

  .blog-img {
    height: 200px;
  }
}

@media (min-width: 1078px) {
  .blog-box {
    height: 250px;
  }

  .blog-img {
    min-height: 100%;
  }
}
